<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>silkRoad</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>userInfo</servlet-name>
    <servlet-class>org.silkroad.controller.UserProfiles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userInfo</servlet-name>
    <url-pattern>/userInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userHistory</servlet-name>
    <servlet-class>org.silkroad.controller.UserViewedHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userHistory</servlet-name>
    <url-pattern>/userHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>hotCompany</servlet-name>
    <servlet-class>org.silkroad.controller.hot.HotCompany</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hotCompany</servlet-name>
    <url-pattern>/hotCompany</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>hotCountry</servlet-name>
    <servlet-class>org.silkroad.controller.hot.HotCountry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hotCountry</servlet-name>
    <url-pattern>/hotCountry</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>hotPebook</servlet-name>
    <servlet-class>org.silkroad.controller.hot.HotPebook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hotPebook</servlet-name>
    <url-pattern>/hotPebook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>hotRegulation</servlet-name>
    <servlet-class>org.silkroad.controller.hot.HotRegulation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hotRegulation</servlet-name>
    <url-pattern>/hotRegulation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>hotUansr</servlet-name>
    <servlet-class>org.silkroad.controller.hot.HotUansr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hotUansr</servlet-name>
    <url-pattern>/hotUansr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>hotUebook</servlet-name>
    <servlet-class>org.silkroad.controller.hot.HotUebook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hotUebook</servlet-name>
    <url-pattern>/hotUebook</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>historyForward</servlet-name>
    <servlet-class>org.silkroad.controller.jump.HistoryForward</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>historyForward</servlet-name>
    <url-pattern>/historyForward</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>rec</servlet-name>
    <servlet-class>org.silkroad.controller.Recommend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rec</servlet-name>
    <url-pattern>/rec</url-pattern>
  </servlet-mapping>
  
</web-app>